<header class="text-gray-600 body-font border border-b-slate-300">
    <div class="container mx-auto flex justify-between flex-wrap p-5 items-center">
        <!-- keep a point in mind that, in tailwind we are applying media queries, but they are applied on min-width not max-width so write your logic accordingly sm: 640px which means 640 px and wider -->
        <a routerLink="/home" class="cursor-pointer flex title-font font-medium items-center text-gray-900">
            <span class="ml-3 text-xl">BestMovies.com</span>
        </a>
        <nav class="font-medium flex flex-wrap items-center text-base justify-center">
            <a
                class="mr-5 hidden sm:block hover:text-gray-900 cursor-pointer hover:underline underline-offset-1 transition-all">Home</a>
            <a
                class="mr-5 hidden sm:block hover:text-gray-900 cursor-pointer hover:underline underline-offset-1">About</a>
            <a
                class="mr-5 hidden sm:block hover:text-gray-900 cursor-pointer hover:underline underline-offset-1">Movies</a>
        </nav>
        <div class="flex items-center justify-center gap-2 md:mr-[-89px]">
            <button
                class="inline-flex items-center bg-teal-500 font-semibold text-white border-0 py-1 px-3 focus:outline-none hover:bg-teal-600 rounded text-base transition-all duration-500">
                <a (click)="logoutUser()" routerLink="/login">Log Out</a>
            </button>
            <p
                class="username underline rounded hover:-translate-y-3 cursor-pointer transition-all duration-700 hidden md:block">
                {{email.substring(0,
                email.indexOf('@'))}}
            </p>
        </div>
    </div>
</header>