h1 {
  width: 100%;
  text-align: center;
  background-color: #edf3f8;
  border-radius: 5px;
  padding: 4px;
}

div {
  margin: 10vw;
  font-size: 2vw;
  gap: 3vh;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  #showDetails h1 {
    width: 100%;
    font-size: 4vw;
  }
}
