<app-navbar></app-navbar>

<div id="hero" class="flex w-full gap-20 mt-14 relative">

    <!-- left side hero section -->
    <div id="leftside" class="pl-20 pt-10 w-[50%] flex-col justify-start">
        <h2 class="text-4xl mb-[30px] w-[90%] font-bold">We Recommend Best
            <span class="text-teal-500 hover:text-teal-400 cursor-pointer drop-shadow-lg">Movies</span>
            for You
        </h2>

        <div id="movies" *ngIf="(movies$ | async) as movies">
            <li class="bg-teal-500 text-white rounded-[3px] hover:-translate-y-1 cursor-pointer transition-all duration-300 shadow-md"
                *ngFor="let movie of movies" [routerLink]="['/detail', movie.id]">{{ movie.title
                }}
            </li>
        </div>

        <button (click)="showMovieNames()"
            class="bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded-full mt-6 transition-all duration-300">
            Show Movies
        </button>
    </div>
    <!-- right side hero section -->
    <div id="rightside" class="w-[50%] flex items-center justify-center">
        <img id="img1" class="allteam w-[35vw] absolute top-10 right-40 z-10" src="../../assets/team.png" alt="">
        <img id="img2" class="america w-52 rounded-md absolute right-[500px] -top-10" src="../../assets/america.png"
            alt="">
        <img id="img3" class="panther w-72 rounded-md absolute top-2 right-0" src="../../assets/balckpanthor.png"
            alt="">
    </div>

</div>